# yml  yaml
# Yet Another Markup Language

spring:  application:    name: item-service
  rabbitmq:
    host: 192.168.64.140
    port: 5672
    username: admin
    password: admin  
server:  port: 8001

eureka:
  client:
    service-url:
      # 默认地点, 要由公共云服务来提供
      # 如果是私有服务器, 必须写 defaultZone
      defaultZone: http://eureka1:2001/eureka